@import "tailwindcss";
@import "../../../../packages/config/tailwind.css";


@layer base {
    body {
        @apply antialiased text-gray-900 bg-white;
    }
}

@theme {
    --animate-marquee: marquee 25s linear infinite;
    --animate-marquee2: marquee2 25s linear infinite;

    @keyframes marquee {
        0% {
            transform: translateX(0%);
        }

        100% {
            transform: translateX(-100%);
        }
    }

    @keyframes marquee2 {
        0% {
            transform: translateX(100%);
        }

        100% {
            transform: translateX(0%);
        }
    }
}